{% extends 'master.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h1>
            {{ movie.title }}
            {% if perms.movies.change_movie %}
                <a href="{% url 'movies:edit' movie.id %}">
                    <span class="badge badge-primary">Edit</span>
                </a>
            {% endif %}
        </h1>
    </div>
  <div class="card-body">
    <p class="card-text">
        {{ movie.description }}
    </p>
      {% if not movie.rented %}
        <a href="" class="btn btn-primary">
            Rent this movie
        </a>
      {% endif %}
  </div>
</div>

{% endblock %}