{% extends 'master.html' %}

{% block title %}
Your rented movies
{% endblock %}

{% block content %}
<div class="list-group">
    {% if movies|length %}
    {% for movie in movies %}
    <div class="card mb-5">
        <div class="card-header">
            <h1>
                {{ movie.title }}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ movie.description }}
            </p>
            <form method="post" action="{% url 'movies:unRent' movie.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Un rent this movie"/>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    You don't have any rented movies yet
    {% endif %}
</div>
{% endblock %}
